---
import Layout from '../layouts/Layout.astro';
import { fetch_all_playlists } from '../lib/data';
import PlaylistItemCard from '../components/PlaylistItemCard.astro'
import Greeting from '@/components/Greeting.svelte';

const playlists = await fetch_all_playlists() as any[]
---
<Layout title="Spotify">
<div
 id="play-list-container"
 class="relative transition-all duration-1000 bg-green-600 rounded"
>

  <!--<PageHeader/> -->

  <div class="relative z-10 px-6 pt-4 ">
      <Greeting/>
<div class="flex flex-wrap mt-6 gap-4">
    {
    playlists.map(playlist=> <PlaylistItemCard playlist={playlist}></PlaylistItemCard>)
    }
</div>
  </div>

  <div class="absolute bg-gradient-to-t inset-0 from-zinc-900 via-zinc-900/80"></div>
</div>
</Layout>
<style></style>
