<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <title>Audio Stream App</title>
  </head>
  <body>
    <div id="load-container"></div>
    <div class="container">
      <!-- Sidebar de Playlists -->
      <div class="sidebar">
        <h2>Playlists</h2>
        <input
          type="text"
          id="playlist-filter"
          class="search-input"
          oninput="filterPlaylist(event)"
          placeholder="Buscar playlist, autor, género..."
        />

        <select oninput="filterPlaylist(event)" id="song-gender">
          <option value="" selected>Any</option>
          <option value="Rock">Rock</option>
          <option value="Romance">Romance</option>
          <option value="Metal">Metal</option>
          <option value="Pop">Pop</option>
          <option value="Jazz">Jazz</option>
          <option value="Balad">Balad</option>
        </select>

        <ul id="playlist-container" class="playlist-list"></ul>
      </div>

      <!-- Contenido principal: Lista de Canciones -->
      <div class="main-content">
        <div class="song-list">
          <h1 id="playlist-name"></h1>
          <h2>Songs</h2>
          <!-- <input -->
          <!--   type="text" -->
          <!--   id="song-filter" -->
          <!--   class="search-input" -->
          <!--   placeholder="Buscar canción, autor, género..." -->
          <!-- /> -->
          <!---->
          <!-- <select id="song-gender"> -->
          <!--   <option value="" selected>Seleccione un valor</option> -->
          <!--   <option value="Rock">Rock</option> -->
          <!--   <option value="Romance">Romance</option> -->
          <!--   <option value="Metal">Metal</option> -->
          <!--   <option value="Pop">Pop</option> -->
          <!--   <option value="Jazz">Jazz</option> -->
          <!--   <option value="Balad">Balad</option> -->
          <!-- </select> -->

          <ul class="song-items" id="song-items">
            <!-- Más canciones -->
          </ul>
        </div>
      </div>

      <!-- Reproductor en la barra inferior -->
      <div class="player">
        <div class="progress-container" onclick="seek(event)">
          <div class="progress-bar">
            <div class="progress-buffered"></div>
            <div class="progress-played"></div>
          </div>
        </div>

        <div class="song-info-container">
          <div class="player-controls">
            <!-- <button class="prev-btn">Previous</button> -->
            <button id="play-btn" onclick="togglePause()" class="play-btn">
              Play
            </button>
            <!-- <button class="next-btn">Next</button> -->
          </div>

          <div class="current-song">
            <h3 id="song_name">...</h3>
            <p id="song_artist">...</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      const socket = io("http://{{ request.host }}");
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
